<form method="post" action="/teams">
  <h1>Create a Team and Heroes!</h1>
    <p>Team Name: <input type="text" name="team[name]"></p>
    <p>Team Motto: <input type="text" name="team[motto]"></p>

  <h2>Hero 1</h2>
    <p>Hero's Name: <input id="memeber1_name" type="text" name="hero[name]"></p>
    <p>Hero's Power: <input id="memeber1_power" type="text" name="hero[power]"></p>
    <p>Hero's Biography: <input id="memeber1_bio" type="text" name="hero[bio]"></p>
  <h2>Hero 2</h2>
    <p>Hero's Name: <input id="memeber2_name" type="text" name="hero[name]"></p>
    <p>Hero's Power: <input id="memeber2_power" type="text" name="hero[power]"></p>
    <p>Hero's Biography: <input id="memeber2_bio" type="text" name="hero[bio]"></p>
  <h2>Hero 3</h2>
    <p>Hero's Name: <input id="memeber3_name" type="text" name="hero[name]"></p>
    <p>Hero's Power: <input id="memeber3_power" type="text" name="hero[power]"></p>
    <p>Hero's Biography: <input id="memeber3_bio" type="text" name="hero[bio]"></p>

  <button name="submit" type="submit" type="submit">Submit</button>
</form>
